
    <canvas id="canvas" width="400px" height="200px">
    </canvas>
  
  
    <button type='submit' id="submit2">save image</button>
    <form id="form" action="/waypoint/upload" method="post" >
        <input type="hidden" id="image-input"  name="myinput" value="0" />
        <input type="hidden"   name="climber_id" value="${climber_id}" />
        <input type="hidden"   name="mountain_id" value="${id}" />
        

        <input type="text"   name="name" value="name" />
        <input id="submit" type="submit" value="upload">
</form>

<script>

const imageInput = document.getElementById('image-input')
const submit2 = document.getElementById('submit2');
const backgroundCanvas = document.getElementById('canvas');
const backgroundCtx = backgroundCanvas.getContext('2d');
const form = document.getElementById('form');

const img = new Image();

let x;
let y;
let start = false;
let done = false;
img.onload = () => {
    console.log("loaded")
    backgroundCtx.canvas.width  = img.width;
    backgroundCtx.canvas.height = img.height;   
    backgroundCtx.drawImage(img, 0, 0);

    backgroundCanvas.addEventListener('click', function (e) {
        if (start === false) {
            x = event.offsetX;
            y = event.offsetY;
            backgroundCtx.beginPath();
            backgroundCtx.moveTo(x, y);
            
            start = true;
        } else {
            x = event.offsetX;
            y = event.offsetY;
            backgroundCtx.lineTo(x, y);
            
            backgroundCtx.strokeStyle = 'rgb(0,128,0)';
            backgroundCtx.lineWidth = 5;
            backgroundCtx.stroke();
            

        }
        
        
        



    });
};


  
img.src = '/images/mountain_test_resize.jpeg';


 
submit2.addEventListener('click', function (e) {
    console.log("submitted")
const dataURL = backgroundCanvas.toDataURL();
imageInput.value = dataURL;

})


</script> 